# Since .env is gitignored, you can use .env-example to build a new `.env` file when you clone the repo.

# Keep this file up-to-date when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any secrets in it.

# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# When adding additional env variables, the schema in /env/schema.mjs should be updated accordingly

# Prisma

DATABASE_URL=mongodb+srv://customerswisetest:WJbGRqgNQpT4AgQU@cluster0.xq4yjz4.mongodb.net/customerswise?retryWrites=true&w=majority

# Next Auth

NEXTAUTH_SECRET=pRkAGFEK$2wFoex&NVLggQ3\*!Uq
NEXTAUTH_URL=http://localhost:10000
NEXT_PUBLIC_URL=http://localhost:10000

# Next Auth Google Provider

GOOGLE*CLIENT_ID=407584743458-k855srbbcsrqh9aj44kq2k9e6r7gcdc4.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-wVKhBcWPo780Sv2OLoM6z41_Oqb*

# Next Auth Email Provider

EMAIL_SERVER_HOST=smtp.mailersend.net
EMAIL_SERVER_PORT=587
EMAIL_SERVER_USER=MS_NvU65W@customerswise.com
EMAIL_SERVER_PASSWORD=RtAoYthZy3fJZ5wa
EMAIL_FROM='"👥 محمد" <mohammad@customerswise.com>'

# Posthog

NEXT_PUBLIC_POSTHOG_URL=https://app.posthog.com
NEXT_PUBLIC_POSTHOG_API_KEY=phc_tyltDokwXjWcbjv8WrvrUa2ZLE32PaZ6391Fqj8VtTk

# Stripe

STRIPE_SECRET_KEY=sk_test_51MCk6BCZvpFbKnh1YTbajlJfg5FDlnKD3WkKAGiKAXZkyU7uxnirXawKKd9GAt8y45LyoguS46Fr0AOtDTePClg800GlwiF7K5
STRIPE_PUBLIC_KEY=pk_test_51MCk6BCZvpFbKnh1hnC3hVamB2SZLdjWnsDkLevXX5E0YVbPntkfI8dLXSqJcigz1IzoCd4Okw37cFwFWzQgm18g0👥0U0uK1uVh
STRIPE_WEBHOOK_SECRET_KEY=whsec_6ed9a191b43fc4c168fadd518bf9c7184fcb61a3f7f47add9c0e63f5c2d65fee

# Twitter

TWITTER_API_KEY=Dpsd7axWNLQBQnEFkf3z6r2Q5
TWITTER_API_KEY_SECRET=lKGZCUiBvzli1jWDM5TstyExLbM76pui4mgHrEFCWZYu3p0yWl
TWITTER_BEARER_TOKEN=AAAAAAAAAAAAAAAAAAAAAGWLjQEAAAAA%2BRY%2BNr6L8%2B2aQ9NCTtllHsumVIw%3DguRNBd6dFUzvrl3qi7U2dbBxCb4ZSdvwVCGD09ScjknZNQUQdy
TWITTER_ACCESS_TOKEN=804005250759884800-BdaMaY0cLEWS7Ss1885uQpXuRkm0R8e
TWITTER_ACCESS_TOKEN_SECRET=dBZOfMVmmWXMRsIhjLtrowi3nrxmsBFj5PtFTCl4yoPxR
TWITTER_CLIENT_ID=ampWSEs2UF91clNab0ZtNzlqWmM6MTpjaQ
TWITTER_CLIENT_SECRET=6lkUazklNu6TAWx8uG4yuirvV0DFzHp6H8HT4sL9TH0uZH1Jm7
